{# plantilla de ingreso al sistema #}
{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% translate "Login" %}{% endblock title %}
{% block form_title %}{% translate "Login" %}{% endblock form_title %}
{% block auth_form %}
<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary">{% translate "Login" %}</button>
  <div class="form-text"><a href="{% url 'users:form_reset_password' %}">{% translate "Forgot Password?" %}</a></div>
</form>
{% endblock auth_form %}
