{# plantilla con formulario para ingresar correo de recuperación de contraseña #}
{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% translate "Reset password" %}{% endblock title %}
{% block form_title %}{% translate "Reset password" %}{% endblock form_title %}
{% block auth_form %}
<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary">{% translate "Reset password" %}</button>
</form>
{% endblock auth_form %}