{% load i18n %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

  <title>{% block title %}{% endblock title %}</title>
  {# hojas de estilo y scripts de cabecera en este espacio #}
  {% block extrahead %}{% endblock extrahead %}
</head>

<body style="margin-bottom: 150px;">

  {% block navbar %}{% include "base/navbar.html" %}{% endblock navbar %}

  {% if messages %}
  {% block messages %}{% include "base/messages.html" %}{% endblock messages %}
  {% endif %}

  {% block content %}{% endblock content %}

  {% block footer %}{% include "base/footer.html" %}{% endblock footer %}

  {# scripts al final de página en este espacio #}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


  {% block extrascript %}
  {# cualquier script adicional para alguna página en particular aquí #}
  {% endblock extrascript %}
</body>

</html>