{% load i18n %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock title %}</title>
  {# hojas de estilo y scripts de cabecera en este espacio #}
  {% block extrahead %}{% endblock extrahead %}
</head>

<body>
  {% block navbar %}{% include "base/navbar.html" %}{% endblock navbar %}

  {% block messages %}{% include "base/messages.html" %}{% endblock messages %}

  {% block content %}{% endblock content %}

  {% block footer %}{% include "base/footer.html" %}{% endblock footer %}

  {# scripts al final de página en este esapcio #}
  {% block extrascript %}
  {# cualquier script adicional para alguna página en particular aquí #}
  {% endblock extrascript %}
</body>

</html>